<div class="accordion" id="accordionExample">
  @for(category of categories(); track category.id) {
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
          {{ category.name }}
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul class="list-group">
            @for (item of category.items; track item.id) {
              <li class="list-group-item">
                <div class="input-group">
                  <input type="text" class="form-control" [(ngModel)]="item.name" [disabled]="item.done">
                  <button class="btn btn-outline-secondary" type="button"><i class="bi bi-pencil-square"></i></button>
                  <button class="btn btn-outline-secondary" type="button" (click)="toggleDone(item)"><i class="bi bi-check-lg"></i></button>
                </div>
              </li>
            }
          </ul>
        </div>
      </div>
    </div>
  }
</div>
