<div class="accordion" id="accordionExample">
  @for(category of categories(); track category.id) {
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
          {{ category.name }}
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul class="list-group">
            @for (item of category.items; track item.id) {
              <li class="list-group-item">
                <app-item [item]="item" (onToggleDone)="toggleDone(item, $event)" (onEdited)="toggleDone($event, $event.done)"/>
              </li>
            }
            <div class="d-flex flex-row-reverse">
              <div class="p-2">
                <i class="bi bi-plus-circle"></i>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
  }
</div>
